---
import { useTranslations } from "../i18n/utils";

const { currentLang = "en" } = Astro.props;
const t = useTranslations(currentLang);
---

<section
  id="about"
  class="w-full py-12 px-4 bg-[var(--color-warm-sand)] text-center shadow-sm"
>
  <div class="max-w-6xl mx-auto">
    <h1 class="text-3xl font-semibold mb-8 text-[var(--color-terracotta)]">
      {t.about.title}
    </h1>
    <div class="flex flex-col md:flex-row gap-8 items-center">
      <img
        data-duration="1000"
        data-animate="fade-left"
        src="/aboutPic.png"
        alt="Thai Massage Lanzarote"
        class="opacity-0 -translate-x-10 rounded-lg hidden md:block w-full md:w-1/2 mr-7"
      />

      <div
        data-duration="1000"
        data-animate="fade-up"
        class="opacity-0 translate-y-10 w-full md:w-1/2 text-left"
      >
        <h2 class="text-xl font-bold mb-4 text-[var(--color-atention)]">
          {t.about.subtitle}
        </h2>

        <p class="mb-4 leading-relaxed">
          {t.about.intro}
        </p>

        <p class="mb-4 leading-relaxed">
          {t.about.mission}
        </p>

        <p class="mb-4 leading-relaxed">{t.about.services}</p>

        <ul class="list-disc pl-6 mb-4">
          {t.about.servicesList.map((service) => <li>{service}</li>)}
        </ul>

        <p class="leading-relaxed">
          {t.about.benefits}
        </p>

        <p class="mt-4 italic">
          {t.about.closing}
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  p,
  li {
    color: var(--color-deep-charcoal);
  }
</style>
